<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/banner-ico.png" width="30" height="30" alt="" />
      Amazon Movies
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-center">
        <li class="nav-item active">
            <a class="nav-link" routerLink="home">Top Movies <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="tvshow">Top TV SHOW</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="http://103.133.204.82/Data/Disk2/">Download Movies</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="http://185.105.103.101/serial/">Download TVSeries</a>
          </li>
          
        
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>
  <router-outlet></router-outlet>