body {
    background:rgb(22, 3, 3);
}
.wrapper{
    padding-top:40px;
    padding-bottom:30px;
}
a:hover{
    text-decoration:none;
}
.movie-list-descrip{
  background:navajowhite;
 width: 100%;
  color:rgb(22, 3, 3);
    text-align:center;
}